<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${product != null} ? 'Disponible' : 'Agotado'">Producto</title>
</head>
<body>

    <h1 th:if="${product != null}">Data Product</h1>

    <th:block th:if="${product != null}">
        <p><strong>ID:</strong> <span th:text="${product.id}"></span></p>
        <p><strong>Nombre:</strong> <span th:text="${product.nameProduct}"></span></p>
        <p><strong>Stock:</strong> <span th:text="${product.stockProduct}"></span></p>
        <p><strong>Precio:</strong> <span th:text="${product.priceProduct}"></span></p>

        <form th:action="@{/products/remove/{id}(id=${product.id})}" th:method="delete">
            <button type="submit">Delete Product</button>
        </form>
    </th:block>

    <h1 th:if="${product == null}">No found</h1>
</body>
</html>