<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Center</title>
</head>
<body>
    <h1>Products in Stock:</h1>

    <th:block th:each="product : ${productsToShow}">
        <div>
            <h3 th:text="${product.nameProduct}"></h3>
            <strong>Stock:</strong> <p th:text="${product.stockProduct}"></p>
            <strong>Unitary Price:</strong> <p th:text="${product.priceProduct}"></p>

            <form th:action="@{/shop/products/{id}(id=${product.id})}" method="post">
                <button type="submit">Add To Cart</button>
            </form>
            <br>
        </div>
    </th:block>

    <div th:if="${productsInCart > 0}">
        <Strong>Products in Cart:</Strong>
        <p th:text="${productsInCart}"></p>
    </div>

</body>
</html>