<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <h1>Add Product</h1>

    <form th:action="@{products/save}" method="post">

        <div>
            <label>Name Product: </label>
            <input type="text" name="nameProduct" required>
        </div>

        <div>
            <label>Stock: </label>
            <input type="number" name="stockProduct">
        </div>

        <div>
            <label>Price: </label>
            <input type="number" name="priceProduct">
        </div>

    </form>


</body>
</html>